@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Welcome to UJ Blockchain</h1>
    <a href="/users/Create"><button class="btn btn-outline-info">Contact us</button></a> 
</div>
